<%=flash[:alert]%>
<h1>Please enter your information to register.</h1>
<form action="login" method="post">
  <input type="text" name="first_name" placeholder="First name" />
  <input type="text" name="last_name" placeholder="Last name" />
  <input type="text" name="address" placeholder="Street address" />
  <input type="text" name="city" placeholder="City" />
  <input type="text" name="state" placeholder="State" />
  <input type="text" name="zip" placeholder="ZIP code" />
  <input type="text" name="country" placeholder="Country" />
  <input type="text" name="email" placeholder="E-mail address" />
  <input type="text" name="user" placeholder="Username" />
  <input type="text" name="password" placeholder="Password" />
  <br />
  <input type="submit" value="Submit" />
</form>
